<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aula 25 - Vuejs</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <style>
    /* fade = <transition name="fade"> */
    .fade-enter-active,
    .fade-leave-active {
      transition: opacity .5s;
    }

    .fade-enter,
    .fade-leave-to

    /* .fade-leave-active below version 2.1.8 */
      {
      opacity: 0;
    }
  </style>
</head>

<body>
  <div id="app">
    <br><br><br>

    <div class="container">
      <h1 ref="title">{{ titulo }}</h1>
      <ul>
        <li>
          <router-link :to="{ name: 'transformers' }">Transformers</router-link>
        </li>
        <li>
          <router-link :to="{ name: 'gameOfThrones' }">Game of Thrones</router-link>
        </li>
      </ul>

      <router-view></router-view>
    </div>
  </div>

  <template id="transformers">
    <div>
      <div class="row">
        <div class="col">
          <h4>Transformers</h4>
          <ul>
            <li v-for="item in transformers">
              <router-link :to="{ name: 'transformersContent' , params: { name: item.slug }}">{{ item.name }}
              </router-link>
            </li>
          </ul>
        </div>

        <div class="col">
          <!-- Conteúdo que irá aparecer do template com id "transformersContent" -->
          <router-view></router-view>
        </div>
      </div>
    </div>
  </template>

  <template id="gameOfThrones">
    <div>
      <h4>Game of Thrones</h4>
      <ul>
        <li v-for="item in gameOfThrones">{{ item.name }}</li>
      </ul>
    </div>
  </template>

  <template id="transformersContent">
    <div>
      <h3>Conteúdo Transformers</h3>
      {{ $route.params.name }}
    </div>
  </template>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

  <script>
    var Transformers = Vue.component('transformers', {
      template: "#transformers",
      data() {
        return {
          transformers: [
            { name: 'Optmus Prime', slug: 'optmus-prime' },
            { name: 'Bumble Bee', slug: 'bumble-bee' },
            { name: 'Megatron', slug: 'megatron' },
          ],
        }
      }
    });

    var GameOfThrones = Vue.component('game-of-thrones', {
      template: "#gameOfThrones",
      data() {
        return {
          gameOfThrones: [
            { name: 'John Snow' },
            { name: 'Daenearys Targaryen' },
            { name: 'Arya Stark' },
          ],
        }
      }
    });

    var TransformersContent = Vue.component('transformers-content', {
      template: '#transformersContent'
    });

    var router = new VueRouter({
      mode: 'history',  //  retira '#' da URL
      routes: [
        {
          path: '/transformers', name: 'transformers', component: Transformers,
          children: [
            { path: ':name', name: 'transformersContent', component: TransformersContent },
          ]
        },
        { path: '/game-of-thrones', name: 'gameOfThrones', component: GameOfThrones },
      ]
    });

    var app = new Vue({
      el: "#app",
      router,
      created() {
        // console.log(this.$router);  // funcionalidade do plugin
        // console.log(this.$route); // rota atual
        this.$router.push({ name: 'transformersContent', params: { name: 'optmus-prime' } }); // redireciona automaticamente
      },
      data: {
        titulo: "Aula 25 - Vuejs",
      },
    });
  </script>
</body>

</html>